h1 {
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
}

h2{
    color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: blanchedalmond;
}